@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.open-modal {
  overflow: hidden;
}

.sli:hover .stitle {
  opacity: 1;
}

.stitle {
  position: absolute;
  background-color: transparent;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 24px;
  margin: auto;
  opacity: 0;
  transition: all 0.3s ease-in;
  font-weight: 500;
  font-size: larger;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (width<800px) {
  .stitle {
    opacity: 1;
    align-items: end;
    background-color: none;
  }

  .stitle > h5 {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 6px;
    font-size: medium;
    border-radius: 20px;
  }
}
