@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.open-modal {
  overflow: hidden;
}

.hidden-display {
  display: none;
}

.sli:hover .stitle {
  opacity: 1;
}

.sli:hover .hidden-display {
  display: block;
}

.sli:hover .hidden-image {
  display: none;
}

.stitle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.1); */
  top: 0;
  left: 0;
  height: 100%;
  margin: auto;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  border-radius: 24px;
  transition: all 0.3s ease-in;
  color: black;
  font-size: larger;
  font-weight: bold;
}

.anchor1 {
  padding-right: 10px;
}

.aright {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.anchor1:hover .aright {
  transform: translateX(100%);
}

@media (width<768px) {
  .stitle {
    opacity: 1;
    align-items: end;
    background-color: none;
  }

  .stitle > h5 {
    backdrop-filter: blur(2px);
    padding: 2px 6px;
    font-size: medium;
    border-radius: 20px;
  }
}

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  border-top-color: transparent;
  animation: an1 1s ease infinite;
}

@keyframes an1 {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

.forminput {
  @apply block rounded-md w-full border-0 py-1.5 px-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6;
}
